<a href="https://colab.research.google.com/github/shellahemmanuella/GitBasics/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [280]:
import numpy as np
x=3
print(type(x))
y=1
print(x*y)
print(x**2)
print(x+y)
print(x-y)
print(y/x)

<class 'int'>
3
9
4
2
0.3333333333333333

In [281]:
a=np.array([1,2,3])
print(a)
a
type(a)
a.shape
a[0]=5
a

[1 2 3]

array([5, 2, 3])

In [282]:
b=np.array([[1,2,3],[4,5,6]])
b
b.shape

(2, 3)

A numpy array is a grid of values, all of the same type, and is indexed bt a tuple of non-negative integers.The number of dimensions in the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.We can initialize numpy arrays from nested python lists and access elements using square brackets.

numpy also provides many functions to create arrays.

In [283]:
c=np.zeros((2,2))
d=np.ones((3,3))
np.full((2,2),7)#created matrix with element 7
np.eye(2)#created an identity matrix

array([[1., 0.],
       [0., 1.]])

In [284]:
np.random.random((2,2))#created random arrays

array([[0.65679713, 0.76255189],
       [0.22033268, 0.16772259]])

In [285]:
??

Object `` not found.

**array maths**
Basic mathematical functions operate elementwise and are available as operator overloads and as functions in numpy

In [286]:
x=np.array([[1,2],[3,4]])
y=np.array([[5,6],[7,8]])
print(x+y)#adding with operators
print(x-y)#subtracting with operators
print(np.add(x,y))#adding with functions
print(x**2)#getting square of x
print(np.subtract(x,y))#subtracting using functions
print(x/y)#dividing with operators
print(np.divide(x,y))#dividing using functions

[[ 6  8]
 [10 12]]
[[-4 -4]
 [-4 -4]]
[[ 6  8]
 [10 12]]
[[ 1  4]
 [ 9 16]]
[[-4 -4]
 [-4 -4]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]

**Note:** dot product
in matrices mulplications is done using a dot

In [287]:
v=np.array([9,10])
w=np.array([11,12])
x=np.array([[1,2],[3,4]])
y=np.array([[5,6],[7,8]])
#inner product
v.dot(w)
w.dot(v)

219

vector matrix product

In [288]:
x.dot(w)
#these are vector matrix multiplications

array([35, 81])

In [289]:
x.dot(v)

array([29, 67])

In [290]:
y.dot(w)

array([127, 173])

matrix matrix multiplication

In [291]:
x.dot(y) #these are both matrices

array([[19, 22],
       [43, 50]])

In [292]:
y.dot(x)

array([[23, 34],
       [31, 46]])

transpose

In [293]:
#these are transpose
x=np.array([[1,2],[3,4]])
x.T

array([[1, 3],
       [2, 4]])